{% load navigation_tags wagtailcore_tags %}
{% get_site_root as site_root %}
<div class="menu-primary-menu-container">
    <ul id="primary-menu" class="menu">
    {% for menuitem in menuitems %}
    <li class="menu-item {{ menuitem.title|lower|cut:' ' }}{% if menuitem.active %} active{% endif %}{% if menuitem.show_dropdown %} menu-item-has-children{% endif %}">
        <a href="{% pageurl menuitem %}" role="menuitem">{{ menuitem.title }}</a>
        {% if menuitem.show_dropdown %}
            {% top_menu_children parent=menuitem %}
            {# Used to display child menu items #}
        {% endif %}
    </li>
  {% endfor %}  
  </ul>
</div>
