{% extends "content.html" %}
{% load static wagtailcore_tags navigation_tags wagtailimages_tags %}

{% block content %}
<div class="page-title">
  <h2>{{ page.tr_title }}</h2>
</div>
<form action="{% pageurl self %}" class="form-inline">
  <div class="form-row align-items-center">
    <label class="my-1 mr-2" for="inlineFormYearSelect">Year</label>
    <select name="year" class="custom-select my-1 mr-sm-2" id="inlineFormYearSelect">
      <option value="all"{% if selected_year == 'all' %} selected{% endif %}>All</option>
      {% for year in years %}
      <option value="{{ year }}"{% if selected_year == year %} selected{% endif %}>{{ year }}</option>
      {% endfor %}
    </select>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
{% if events %}
  {% if page.view_type == 'list' %}
    {% for event in events %}
    <article class="grid-item loop-item">
      <div class="row">
        {% if event.cover_image != None %}
        <div class="col-md-5 image">
          {% image event.cover_image fill-300x300 as image %}
          <img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" alt="{{ image.alt }}" class="" />
        </div>
        {% endif %}
        <div class="{% if event.cover_image != None %}col-md-7 {% else %}{% endif %}text">
          <h5 class="entry-title">
            <a href="{% pageurl event %}">{{ event.title }}</a> 
          </h5>
          <div class="meta_detail"> 		
            <p>
              <span>{{ event.start }} - {{ event.end }} / {{ event.location }}</span>
            </p>
            {{ event.description }}
          </div>
        </div>
      </div>
    </article>
    {% endfor %}
  {% else %}
  <div class="page-overview">
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Date</th>
          <th>Location</th>
          <th>Link</th>
        </tr>
      </thead>
      <tbody>
        {% for event in events %}
        <tr>
          <td><a href="{% pageurl event %}">{{ event.title }}</a></td>
          <td>{{ event.start|date:'Y-m-d' }} - {{ event.end|date:'Y-m-d' }}</td>
          <td>{{ event.location }}</td>
          <td>{% if event.related_link != None %}<a href="{{ event.related_link }}">Link</a>{% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
{% endif %}
{% endblock content %}
