{% extends "content.html" %}
{% load static wagtailcore_tags navigation_tags wagtailimages_tags %}

{% block content %}
{% if seminars %}
  {% for seminar in seminars %}
  <article class="row list-icon-item loop-item ml-2">
      <div class="text">
        <h5 class="entry-title">
          <a href="{% pageurl seminar %}">{{ seminar.title }}</a> 
        </h5>
        <div class="meta_detail"> 		
          <p>
            <span class="key">Date</span>
            <span>{{ seminar.date }}</span>
          </p>
            <p>
              <span class="key">Speaker</span>
              <span>{{ seminar.speaker }}{% if seminar.speaker_affiliation|length > 0 %} ({{ seminar.speaker_affiliation }}){% endif %}</span>
            </p>
            <p>
              <span class="key">Place</span>
              <span>{{ seminar.place }}</span>
            </p>
        </div>
      </div>	
    </article>
  {% endfor %}
  {% if seminars.paginator.count > 1 %}
  <div class="container">
      <div class="row">
          <div class="col-md-12">
          {% include "includes/pagination.html" with subpages=seminars %}
          </div>
      </div>
  </div>
  {% endif %}
{% endif %}
{% endblock content %}
