{% extends "content.html" %}
{% load static wagtailcore_tags navigation_tags wagtailimages_tags %}

{% block content %}
<h3>{{ page.title }}</h3>
<div class="page-overview">
  <ul>
    <li><span class="key">Date</span>
      {{ page.date }}
    </li>
    <li>
      <span class="key">Speaker</span>
      {{ page.speaker }}{% if page.speaker_affiliation|length > 0 %} ({{ page.speaker_affiliation }}){% endif %}
    </li>
    <li><span class="key">Place</span>
      {{ page.place }}
    </li>
  </ul>
</div>
<div>
  <h4>Abstact</h4>
  {{ page.abstract|richtext }}
</div>
{% if user.is_authenticated %}
<div>
  <h4>Extra</h4>
  {{ page.extra|richtext }}
</div>
{% endif %}
{% endblock content %}
