{% extends "content.html" %}
{% load static wagtailcore_tags navigation_tags wagtailimages_tags %}

{% block content %}
{% if careers %}
  {% for career in careers %}
  <article class="row list-item loop-item list-icon-item">
    <div class="col-md-10 text">
      <h5 class="entry-title">
        {% if career.is_expired %}(Closed) {% endif %}<a href="{% pageurl career %}">{{ career.title }}</a> 
      </h5>
      <p class="meta"> 
        <span class="date">Expired at {{ career.date_expired }}</span>
      </p>
    </div>
  </article><!-- #post-## -->
  {% endfor %}
{% endif %}
{% endblock content %}
