{% extends "content.html" %}
{% load static wagtailcore_tags navigation_tags wagtailimages_tags %}

{% block content %}
{% if galleries %}
{% for gallery in galleries %}
<article class="grid-item loop-item">
  <div class="image">
    <a href="{% pageurl gallery %}">
      {% image gallery.image fill-300x300-c150 as image %}
      <img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" alt="{{ image.alt }}" class="" />
    </a>
  </div>
  <div class="text">
    <p class="meta"> 
      <span class="date">{{ gallery.date_published }}</span>
    </p>	
    <h5 class="entry-title">
      <a href="{% pageurl gallery %}">{{ gallery.title }}</a> 
    </h5>
  </div>	
</article>
{% endfor %}
{% endif %}
{% endblock content %}
