{% extends "base.html" %}
{% load static wagtailcore_tags navigation_tags wagtailimages_tags %}

{% block body %}
<div id="home-slider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      {% for slider in page.sliders %}
      <li data-target="#home-slider" data-slide-to="{{ forloop.counter0 }}"{% if forloop.counter0 == 0 %} class="active"{% endif %}></li>
      {% endfor %}
    </ol>
    <div class="carousel-inner">
    {% for slider in page.sliders %}
    {% image slider.cover fill-1920x960 as image %}
    <div class="carousel-item{% if forloop.counter0 == 0 %} active{% endif %}" style="background-image:url('{{ image.url }}');">
      <div class="carousel-caption d-md-block">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h3>{{ slider.subtitle }}</h3>
              <h1>{{ slider.title }}</h1>
              {% if slider.related_page != None %}
              <p class="btn-group"><a href="{% pageurl slider.related_page %}" class="btn btn-light">READ MORE</a></p>
              {% endif %}
            </div>
          </div>					
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<section id="service">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-4">
          <div class="item">
            <a href="{% slugurl 'calendar' %}">
              <img src="{% static 'img/ic_cal.png' %}" alt="">
              <h5>Calendar</h5>
            </a>
          </div>
        </div>
        <div class="col-md-2 col-4">
          <div class="item">
            <a href="{% slugurl 'faq' %}">
              <img src="{% static 'img/ic_faq.png' %}" alt="">
              <h5>FAQ</h5>
            </a>
          </div>				
        </div>
        <div class="col-md-2 col-4">
          <div class="item">
            <a href="{% slugurl 'open-data' %}">
              <img src="{% static 'img/ic_data.png' %}" alt="">
              <h5>Open Data</h5>
            </a>
          </div>				
        </div>
        <div class="col-md-2 col-4">
          <div class="item">
            <a href="{% slugurl 'tours' %}">
              <img src="{% static 'img/ic_visit.png' %}" alt="">
              <h5>Tours</h5>
            </a>
          </div>
        </div>
        <div class="col-md-2 col-4">
          <div class="item">
            <a href="{% slugurl 'equipment-enquiry' %}">
              <img src="{% static 'img/ic_reserve.png' %}" alt="">
              <h5>Equipment Enquiry</h5>
            </a>
          </div>				
        </div>
        <div class="col-md-2 col-4">
          <div class="item">
            <a href="{% slugurl 'job-opening' %}">
              <img src="{% static 'img/ic_careers.png' %}" alt="">
              <h5>Careers</h5>
            </a>
          </div>				
        </div>
      </div>
    </div>
</section>
<section id="news">
	<div class="container">
		<div class="row section-title">
			<div class="col-md-12">
				<h3><span>News</span></h3>
				<p><a href="{% slugurl 'our-news' %}">View All News</a></p>
		  </div>
	  </div>
	  <div class="row">
      {% for n in news %}
     	<div class="col-md-4">
        <article class="grid-item loop-item" id="post-2097">
	        <div class="image">
            {% image n.cover_image fill-640x320 as image %}
	  	      <a href="{% slugurl n.slug %}"><img src="{{ image.url }}"  width="{{ image.width }}" height="{{ image.height }}" alt="{{ image.alt }}" class="img-fluid" /></a> 
        	</div>
	        <div class="text">
	  	      <p class="meta"> 
	  		      <span class="date">{{ n.date_published }}</span>
            </p>
        		<h5 class="entry-title">
	  		      <a href="{% slugurl n.slug %}">{{ n.title }}</a> 
        		</h5>
	        </div>	
        </article>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock body %}
