{% extends "content.html" %}
{% load static wagtailcore_tags navigation_tags wagtailimages_tags %}

{% block content %}
<p>{{ person.first_name }} {{ person.last_name }}</p>
{% if presentations %}
<h3>Presentations</h3>
<ul>
  {% for presentation in presentations %}
  <li><a href="{% pageurl presentation %}">{{ presentation.title }}</a></li>
  {% endfor %}  
</ul>
{% endif %}
{% if theses %}
<h3>{% if theses|length > 1 %}Theses{% else %}Thesis{% endif %}</h3>
<ul>
  {% for thesis in theses %}
  <li><a href="{% pageurl thesis %}">{{ thesis.title }}</a></li>
  {% endfor %}  
</ul>
{% endif %}
{% endblock content %}
