{% extends "base.html" %}
{% load static wagtailcore_tags navigation_tags wagtailimages_tags %}

{% block content %}
<div id="page-header" >
	<div class="container">
		<div class="row">
			<div class="col-md-12">
                <h1>About Center</h1>				 	
			</div>		
		</div>
	</div>
</div>
<main id="main">
	<div class="container" >
		<div class="row">
          <div class="col-md-3" id="left-sidebar" role="complementary">
            <aside>
                {% sub_menu %}
                <h3>About Center</h3>
                <div class="menu-about-center-container">
                  <ul id="menu-about-center" class="menu">
                    <li class="menu-item"><a href="https://cupweb.ibs.re.kr/about-center/introduction/">Introduction</a></li>
                    <li class="menu-item"><a href="https://cupweb.ibs.re.kr/about-center/organization/">Organization</a></li>
                    <li class="menu-item menu-item-has-children"><a href="https://cupweb.ibs.re.kr/about-center/location/">For Visitors</a>
                      <ul class="sub-menu">
                        <li class="menu-item"><a href="https://cupweb.ibs.re.kr/about-center/location/">Location</a></li>
                        <li class="menu-item"><a href="https://cupweb.ibs.re.kr/about-center/for-visitors/visa/">Visa</a></li>
                        <li class="menu-item"><a href="https://cupweb.ibs.re.kr/about-center/for-visitors/request-visit/">Request Visit</a></li>
                      </ul>
                    </li>
                    <li class="menu-item"><a href="https://cupweb.ibs.re.kr/about-center/informational-materials/">Informational Materials</a></li>
                    <li class="menu-item"><a href="https://cupweb.ibs.re.kr/about-center/useful-links/">Useful Links</a></li>
                    <li class="menu-item"><a href="https://cupweb.ibs.re.kr/about-center/ust/">CUP–IBS School, University of Science and Technology</a></li>
                  </ul>
                </div>
            </aside> 
          </div><!-- #left-sidebar -->
		  <div class="col-md-9 content-area" id="primary">
            <div class="page-title">
			  <h2>Introduction</h2>
			</div>
		</div><!-- #primary -->
	  </div><!-- .row -->
	</div><!-- #content -->
</main><!-- #main -->
{% endblock content %}
