{% extends "content.html" %}
{% load static wagtailcore_tags navigation_tags wagtailimages_tags %}

{% block content %}
{% if user.is_authenticated %}
<h3>{{ page.title }}</h3>
<div class="page-overview">
  <ul>
    <li><span class="key">Date</span>
        {{ page.date }}
    </li>
    <li>
      <span class="key">Authors</span>
      {{ page.authors }}
    </li>
    <li><span class="key">Note number</span>
      {{ page.group }}/{{ page.classification}}/{{ page.number }}
    </li>
  </ul>
</div>
<div>
{% else %}
<div><p>Member only</p></div>
{% endif %}
{% endblock content %}
