{% extends "content.html" %}
{% load static wagtailcore_tags navigation_tags wagtailimages_tags %}

{% block content %}
{% if user.is_authenticated %}
  {% if notes %}
    {% for note in notes %}
    <article class="row list-item loop-item">
      <div class="text">
        <h5 class="entry-title">
          <a href="{% pageurl note %}">{{ note.title }}</a> 
        </h5>
        <p class="meta"> 
          <span class="date">{{ note.date }}</span>
          <span>{{ page.group }}/{{ page.classification}}/{{ page.number }}</span>
        </p>
      </div>      
    </article>
    {% endfor %}
    {% if notes.paginator.count > 1 %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            {% include "includes/pagination.html" with subpages=notes %}
            </div>
        </div>
    </div>
    {% endif %}
  {% endif %}
{% else %}
<p>Member only</p>
{% endif %}
{% endblock content %}
