{% extends "content.html" %}
{% load static wagtailcore_tags navigation_tags wagtailimages_tags %}

{% block content %}
{% if papers %}
  {% for paper in papers %}
  <article class="row list-item loop-item">
    <ul>
      <li>
        <a href="{% pageurl paper %}">{{ paper.title }}</a>,
        {{ paper.print_authors }},
        {{ paper.journal.title }},
        {{ paper.date|date:'Y' }}
      </li>
    </ul>
  </article>
  {% endfor %}
  {% if papers.paginator.count > 1 %}
  <div class="container">
      <div class="row">
          <div class="col-md-12">
          {% include "includes/pagination.html" with subpages=papers %}
          </div>
      </div>
  </div>
  {% endif %}
{% endif %}
{% endblock content %}
