{% extends "content.html" %}
{% load static wagtailcore_tags navigation_tags wagtailimages_tags %}

{% block content %}
{% if papers %}
  {% for paper in papers %}
  <article class="row list-item loop-item">
    <div class="col-md-4 image">
      <div class="image">
      </div>
    </div>
    <div class="col-md-8">
      <div class="text">
        <h5 class="entry-title">
          <a href="{% pageurl paper %}">{{ paper.title }}</a> 
        </h5>
        <p class="meta"> 
          <span class="date">{{ paper.date }}</span> <span>by {{ paper.author }}</span>
        </p>
      </div>      
    </div>
  </article>
  {% endfor %}
  {% if papers.paginator.count > 1 %}
  <div class="container">
      <div class="row">
          <div class="col-md-12">
          {% include "includes/pagination.html" with subpages=papers %}
          </div>
      </div>
  </div>
  {% endif %}
{% endif %}
{% endblock content %}
