{% extends "content.html" %}
{% load static wagtailcore_tags navigation_tags wagtailimages_tags %}

{% block content %}
{% if presentations %}
  {% for presentation in presentations %}
  <article class="row list-item loop-item">
    <div class="text">
      <h5 class="entry-title">
        <a href="{% pageurl presentation %}">{{ presentation.title }}</a> 
      </h5>
      <p class="meta"> 
        <span class="date">{{ presentation.date }} by {{ presentation.presentor }} at {{ presentation.meeting }} </span>
      </p>
    </div>      
  </article>
  {% endfor %}
  {% if presentations.paginator.count > 1 %}
  <div class="container">
      <div class="row">
          <div class="col-md-12">
          {% include "includes/pagination.html" with subpages=presentations %}
          </div>
      </div>
  </div>
  {% endif %}
{% endif %}
{% endblock content %}
