{% extends "content.html" %}
{% load static wagtailcore_tags navigation_tags wagtailimages_tags %}

{% block content %}
<div class="page-title">
  <h2>{{ page.tr_title }}</h2>
</div>
<form action="{% pageurl self %}" class="form-inline">
  <div class="form-row align-items-center">
    <label class="my-1 mr-2" for="inlineFormYearSelect">Year</label>
    <select name="year" class="custom-select my-1 mr-sm-2" id="inlineFormYearSelect">
      <option value="all"{% if selected_year == 'all' %} selected{% endif %}>All</option>
      {% for year in years %}
      <option value="{{ year }}"{% if selected_year == year %} selected{% endif %}>{{ year }}</option>
      {% endfor %}
    </select>
    <label class="my-1 mr-2" for="inlineFormTypeSelect">Type</label>
    <select name="type" class="custom-select my-1 mr-sm-2" id="inlineFormTypeSelect">
      <option value{% if selected_type == None %} selected{% endif %}>All</option>
      {% for type in types %}
      <option value="{{ type.slug }}"{% if selected_type == type.slug %} selected{% endif %}>{{ type.name }}</option>
      {% endfor %}
    </select>
    <label class="my-1 mr-2" for="inlineFormCategorySelect">Category</label>
    <select name="category" class="custom-select my-1 mr-sm-2" id="inlineFormCategorySelect">
      <option value {% if selected_category == None %} selected{% endif %}>All</option>
      {% for category in categories %}
      <option value="{{ category.slug }}"{% if selected_category == category.slug %} selected{% endif %}>{{ category.name }}</option>
      {% endfor %}
    </select>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
{% if presentations %}
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Presentor</th>
        <th>Meeting</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
    {% for presentation in presentations %}
      <tr>
        <td><a href="{% pageurl presentation %}">{{ presentation.title }}</a></td>
        <td>{{ presentation.presentor }}</td>
        <td>{{ presentation.meeting }}</td>
        <td>{{ presentation.date }}</td>
      </tr>
    {% endfor %}  
   </tbody>
  </table>
  {% if presentations.paginator.count > 1 %}
  <div class="container">
      <div class="row">
          <div class="col-md-12">
          {% include "includes/pagination.html" with subpages=presentations %}
          </div>
      </div>
  </div>
  {% endif %}
{% endif %}
{% endblock content %}
