{% extends "content.html" %}
{% load static wagtailcore_tags navigation_tags wagtailimages_tags %}

{% block content %}
<h3>{{ page.title }}</h3>
<div class="page-overview">
  <ul>
    <li><span class="key">Date</span>
      {% if page.date_fmt == 'YM' %}
        {{ page.date|date:'Y-m' }}
      {% elif page.date_fmt == 'Y' %}
        {{ page.date|date:'Y' }}
      {% else %}
        {{ page.date }}
      {% endif %}
    </li>
    <li>
      <span class="key">Author</span>
      {{ page.author }}
    </li>
    <li><span class="key">Degree</span>
      {{ page.degree }}
    </li>
    <li><span class="key">Publisher</span>
      {{ page.publisher }}
    </li>
    <li><span class="key">Advisor</span>
      {{ page.advisor }}
    </li>
  </ul>
</div>
<div>
  <h4>Abstract</h4>
  {{ page.abstract|richtext }}
</div>
<div>
  <h4>Extra</h4>
  {{ page.extra|richtext }}
</div>
{% endblock content %}
