{% load static wagtailcore_tags navigation_tags wagtailimages_tags %}

<footer>
	<div class="footer-widget">		
		<div class="container">
			<div class="row">
				<div class="col-md-4 ">
					<div class="logo">
						<img src="{% static 'img/logo.png' %}">
					</div>
					<p class="addr">
					IBS Center for Underground Physics<br />
					34126, IBS, 55, Expo-ro, Yuseong-gu, Daejeon,<br />
					Republic of Korea
					</p>

					<p class="phone">
						Tel: +82-42-878-8501<br>
						FAx : +82-42-878-8509
					</p>
				</div>
				<div class="col-md-2 col-6">
					<div class="footer-nav">
						<h5>Experiment Web</h5>
						<ul>
							<li><a href="https://amore.ibs.re.kr">AMoRE</a></li>
							<li><a href="https://cosine.ibs.re.kr">COSINE</a></li>
						</ul>						
					</div>
				</div>
				<div class="col-md-2  col-6">
					<div class="footer-nav">
						<h5>Member Only</h5>
						<ul>
							<li><a href="https://cupwiki.ibs.re.kr">Wiki</a></li>
							<li><a href="https://cupfile.ibs.re.kr">File</a></li>
							<li><a href="https://cupforum.ibs.re.kr">Forum</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-2  col-6">
					<div class="footer-nav">
						<h5>IT Services</h5>
						<ul>
              <li><a href="{% slugurl 'it-service-blog' %}">Blog</a></li>
						</ul>
					</div>		
				</div>				
				<div class="col-md-2  col-6">
					<div class="footer-nav">
						<h5>Newsroom</h5>
						<ul>
							<li><a href="{% slugurl 'press-releses' %}">Press Releases</a></li>
							<li><a href="{% slugurl 'media-assets' %}">Media Assets</a></li>
						</ul>	
					</div>
				</div>
			</div>	
		</div>
	</div>
	<div class="footer-copy">
		<div class="container">
			<div class="row site-info">
				<div class="col-md-12">
					<span>
						Copyright © 2020 Center for Underground Physics Research at IBS. All Rights Reserved.
					</span>			
				</div><!--col end -->
			</div><!-- row end -->
		</div><!-- container end -->
	</div>
</footer><!-- wrapper end -->
