{% extends "content.html" %}
{% load static wagtailcore_tags navigation_tags wagtailimages_tags %}

{% block content %}
{% if posts %}
  {% for blog in posts %}
  <article class="row list-item loop-item">
  	<div class="col-md-5 image">
      {% if blog.cover_image != None %}
      {% image blog.cover_image fill-640x640 as image %}
      <img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" alt="{{ image.alt }}" class="img-fluid" />
      {% endif %}
  	</div>
  	<div class="col-md-7 text">
  		<h5 class="entry-title">
        <a href="{% pageurl blog %}">{{ blog.title }}</a> 
      </h5>
      <p><strong>{{ blog.subtitle }}</strong></p>
  		<p>{{ blog.description }}</p>
  		<p class="meta">
        {% if blog.date_published %}
        <span class="date">{{ blog.date_published }}</span>
        {% endif %}
        {% if blog.authors|length > 0 %}
  			<span>by 
        {% for author in blog.authors %}
          {{ author }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
        </span>
        {% endif %}
  		</p>
  	</div>
  </article><!-- #post-## -->
  {% endfor %}
{% endif %}
{% if posts.paginator.count > 1 %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
        {% include "includes/pagination.html" with subpages=posts %}
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}
