{% extends "content.html" %}
{% load static wagtailcore_tags navigation_tags wagtailimages_tags %}

{% block content %}
{% if tweets %}
  {% for tweet in tweets %}
  <article class="row list-item loop-item">
  	<div class="text">
      {{ tweet.body|richtext }}
  		<p class="meta"> 
        {% if tweet.date_published %}
        <span class="date">{{ tweet.date_published }}</span>
        {% endif %}
  			<span>by 
        {% for author in tweet.authors %}
          {{ author }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
  			</span>
  		</p>
  	</div>
  </article><!-- #post-## -->
  {% endfor %}
{% endif %}
{% endblock content %}
